@model List<AgricolaWeb.Models.Grupos>

@{
    ViewData["Title"] = "grupo por Lote";
}

<h1>Grupo por Lote</h1>

<p>
    <a asp-action="Create" asp-controller="Grupos" class="btn btn-primary">Agregar Nuevo Grupo</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var grupo in Model)
        {
            <tr>
                <td>@grupo.Id</td>
                <td>@grupo.Nombre</td>
                <td>
                    <a asp-action="Details" asp-route-id="@grupo.Id" class="btn btn-info">
                        <i class="fas fa-info-circle"></i> Detalle
                    </a>
                    <a asp-action="Edit" asp-route-id="@grupo.Id" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Editar
                    </a>
                    <a asp-action="Delete" asp-route-id="@grupo.Id" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>