@model AgricolaWeb.Models.Lotes


@{
    ViewData["Title"] = "Detalles del Lote";
}

<h1>Detalles del Lote</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>@Model.Nombre</td>
    </tr>
    <tr>
        <th>Etapa</th>
        <td>@Model.Etapa</td>
    </tr>
    <tr>
        <th>Arboles</th>
        <td>@Model.Arboles</td>
    </tr>
   
</table>

<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id" asp-route-idFinca="@Model.IdFinca">Editar</a> |
    <a asp-action="GetByFarmId" class="btn btn-primary">Regresar</a>|
</div>